.cell {
  font-weight: 500;
  &--header {
    border-bottom: 1px solid;
    padding: 4px 8px 8px 0;
    color: #9da1a8;
    text-transform: lowercase;
    font-size: 12px;
    text-align: left;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &--body {
    padding: 4px 0;
    color: #83868d;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}
